*, *::after, *::before {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

nav > a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 1em;
}

header {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: darkgray;
}

.logo {
    text-decoration: none;
    font-size: 2.5rem;
    margin-right: auto;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

nav {
    display: flex;
}

.signup--container {
    display: flex;
}

.form--styling {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 90%;
    margin-top: 5em;
}

label {
    margin-bottom: 1em;
}

input {
    margin-bottom: 1em;
    padding: .5em 1em;
    font-size: 1.3rem;
}

.submit--btn {
    padding: .5em 1em;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: darkgray;
    color: white;
    border: none;
    letter-spacing: 2px;
}